body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: .4px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f9fafa;
}

.logo {
    padding-top: 15px;
    background-color: rgb(172, 241, 189);
}

.cont {
    padding-top: 15px;
    background-color: rgb(213, 238, 241);
}

.cont p {
    font-size: 14px;
}

.num {
    padding-top: 15px;
    background-color: rgb(213, 238, 241);
}

.num p {
    font-size: 16px;
}

header {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.headblock {
    margin: 0;
    padding: 0;
}

.bg-color {
    background-color: rgba(0, 52, 73, 1);
}